@charset "UTF-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, canvas, details, 
figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video 
{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
address, caption, cite, code, dfn, var {font-style:normal; font-weight:normal;}
acronym, abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help;}
table {border-collapse:collapse;border-spacing:0;}
input, select {vertical-align:middle;}
nav ul, nav ol {list-style:none;}
caption, th {text-align:left;}
blockquote, q {quotes:none;}
fieldset, img {border:0;}

a {text-decoration:none;}
a:hover {text-decoration:none;}

body,button,input,select,textarea {color:#000;font-family:arial,sans-serif;}
html,body{overflow-x:hidden;}

/* end reset */

@font-face {
	font-family: 'FuturaBT-Medium';
	src: url('/assets/font/FuturaBT-Medium.eot?') format('eot'), 
	     url('/assets/font/FuturaBT-Medium.woff') format('woff'), 
	     url('/assets/font/FuturaBT-Medium.ttf')  format('truetype'),
	     url('/assets/font/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
}
 
@font-face {
	font-family: 'Angelina';
	src: url('/assets/font/Angelina.eot?') format('eot'), 
	     url('/assets/font/Angelina.woff') format('woff'), 
	     url('/assets/font/Angelina.ttf')  format('truetype'),
	     url('/assets/font/Angelina.svg#Angelina') format('svg');
}

/* end fonts */

.alignleft{float:left; margin-right:10px;}
.alignright{float:right; margin-left:10px;}
.clear{clear:both;}

body {
  background: url("/assets/img/bkg3.png") no-repeat scroll left 385px, url("/assets/img/bkg2.png") no-repeat scroll right 595px #DFDFDF;
  margin: 0 auto;
  padding: 50px 0;
}

/********************************************************************defalut end******************************************************************/

.wrapper{ margin:0 auto; width:1024px;}
#left_part{width:500px;display:inline-block;vertical-align:top;margin-right: 19px;}
#right_part{width:500px;display:inline-block;vertical-align:top;}
.logo{ margin:0 auto 20px; }

.alert-error:before {content: "*";}
.alert-error {color: #C4D974;font-size: 11px;margin:0;padding:0;}

.big_box {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 4px solid #C4D974;
  margin-bottom: 20px;
  padding: 10px 10px 0;
}

.big_box.marques {
  padding: 10px 0 0;
}

.big_box.marques img {display:inline-block;}

.sml_box {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 4px solid #C4D974;
  float: left;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  min-height: 187px;
  width: 245px;
}

.sml_box_right{margin-right:0;}
#left_part h1{color: #EA549E;font: bold 26px 'FuturaBT-Medium';text-align: center;padding-bottom:10px;}
ul.box_list{ margin:10px;}

ul.box_list li{ 
  list-style:none;
  background:url(/assets/img/bullet.png) no-repeat left 4px;
  padding-left:20px;
  font:16px 'FuturaBT-Medium';
}

.p_lbl {
  background: none repeat scroll 0 0 #BA78B5;
  color: #FFFFFF;
  font: 14px 'FuturaBT-Medium';
  margin: 10px auto 0;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 170px;
}

ul.logo_list{ margin:10px;}
ul.logo_list li{ list-style:none; display:inline;}
.add_tbl {padding:10px 20px;}
.add_tbl p {font: 14px 'FuturaBT-Medium'; text-align:center; color:#BA78B5; margin:5px 0 0;}
.add_tbl a,img {display:table;margin:auto;}
.add_tbl td {vertical-align:top;}

#top_nav {
  background: none repeat scroll 0 0 #BA78B5;
  margin-bottom: 20px;
  margin-top: 127px;
  padding: 5px;
}

#top_nav ul {
  margin: 0 auto;
  text-align: center;
}

#top_nav ul li{ font: 14px 'FuturaBT-Medium'; list-style:none; display:inline; margin-right:20px;}
#top_nav ul li a{ color:#fff;}
#top_nav ul li:last-child{ margin-right:0 !important;}
#right_big{ border-top:4px solid #BA78B5; background:url(/assets/img/baby.png) no-repeat right bottom #fff; min-height:733px;padding: 10px 0 0;}
#right_big h1{color: #87387a;font: bold 26px 'FuturaBT-Medium';text-align: center;padding-bottom:10px;}

.list-home {padding:3%;border-top:4px solid #BA78B5;background-color: #fff;}
.list-home .extra_info {margin-bottom: 25px;}
.list-home .extra_info p {font-size:13px;margin-top: 5px;}

.foot_nav{margin:25px auto 0;background-color:#fff;padding: 5px 10px;}
.foot_nav li{ font: 14px 'FuturaBT-Medium'; list-style:none; display:inline; margin-right:10px;}
.foot_nav li a{color:#BA78B5;}
.foot_nav li a:hover {text-decoration: underline;}
.right_frm{text-align:right;}
.right_frm h3 {color: #BA78B5;font: 30px 'Angelina';margin: 20px 10px;}
.right_frm img.alignleft{margin:0 0 0 10px;}
.right_frm td {vertical-align:top;}

.zend_form label {
  background: none repeat scroll 0 0 #BA78B5;
  border: 1px solid #BA78B5;
  color: #FFFFFF;
  font: 12px 'FuturaBT-Medium';
  margin-bottom: 10px;
  padding: 4px 10px 3px;
}

.zend_form input {
  border: 1px solid #BA78B5;
  margin-bottom: 10px;
  padding: 3px 10px;
  line-height: normal;
  font-size: 13px;
  vertical-align:bottom;
}

.zend_form textarea {
  border: 1px solid #BA78B5;
  margin-bottom: 10px;
  padding: 3px 10px;
  line-height: normal;
  font-size: 13px;
  display: block;
  height: 150px;
  width:100%;
}

.sub_btn {
  background: url("/assets/img/round.png") no-repeat scroll right top rgba(0, 0, 0, 0);
  border: medium none;
  cursor: pointer;
  float: left;
  font-size: 0.01px;
  height: 65px;
  margin-left: 10px;
  width: 66px;
}

.btn-primary {
  background-image: url(/assets/img/round.png);
  background-repeat: no-repeat;
  width:65px;
  height:65px;
  padding:0;
  margin:0;
  border:none;
  color: rgba(0,0,0,0);
  vertical-align:baseline;
  float:right;
  display: block;
}

.btn-primary:hover {
  color: rgba(0,0,0,0);
}

.table {
  font-size: 14px;
}

.label-success {
  background-color: #c4d974;
}

.label-warning {
  background-color: #F33A93;
}

.login-center {
  display:table;
  margin:auto;
  padding: 20px;
  border-top:4px solid #BA78B5;
  background-color: #fff;
  width:400px;
}

.login-center h1{color: #87387a;font: bold 26px 'FuturaBT-Medium';text-align: center;padding-bottom:10px;}
.login-center h2{color:000;font: 14px 'FuturaBT-Medium';text-align: center;margin-bottom: 25px;}
.login-center label {width:32%;}
.login-center input {width:68%;}

.signin-center {
  display:block;
  width: 500px;
  margin:auto;
  padding: 20px;
  border-top:4px solid #BA78B5;
  background-color: #fff;
}

.signin-center h1{color: #87387a;font: bold 26px 'FuturaBT-Medium';text-align: center;padding-bottom:10px;}
.signin-center h2{color:000;font: 14px 'FuturaBT-Medium';text-align: center;margin-bottom: 25px;}
.signin-center p {display:block;height:57px;font-size: 11px;}
.signin-center p button {top:-20px;position:relative;}
.signin-center label {width:27%;}
.signin-center input {width:73%;}
.signin-center input#newsletter {width:10%;}

.nav-list {
  width:20%;
  display:inline-block;
  border-top:4px solid #BA78B5;
  background-color: #fff;
  padding: 10px 0;
}

.nav-list li {
  list-style:none;
  margin-left: 10px;
  background:url(/assets/img/bullet.png) no-repeat left 10px;
  font:16px 'FuturaBT-Medium';
}

.nav-list li a {color:#000;padding:5px 5px 5px 15px;}
.nav-list li a:hover {background:none;}

.extranet {
  width:79%;
  display:inline-block;
  float:right;
  padding:3%;
  border-top:4px solid #BA78B5;
  background-color: #fff;
}

.extranet .page-header {
  margin-top: 0;border:none;
  color: #87387a;font: bold 26px 'FuturaBT-Medium';padding-bottom:10px;
}
.extranet .extra_info {margin-bottom: 25px;}
.extranet .extra_info p {font-size:13px;margin-top: 5px;}
.extranet .button-modif {display:block;}
.extranet input#newsletter {width:10%;}
.extranet .button-modif {font-size: 11px;} 